.friend-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #ecdfcd;
  }
  
  .friend-item:hover {
    background-color: #4e6d2f;
  }

  .friend-item:hover p {
    color: white;
  }
  
  .friend-profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px; /* Creates space between the image and the username */
  }
  
  .friend-link {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline from the link */
  }
  
  .friend-link p {
    margin: 0; /* Remove margin for the paragraph to align properly */
    font-size: inherit; /* Inherit the default font size for text */
    color: #424051;
  }
  