.friend-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #ecdfcd;
  }
  
  .friend-item:hover {
    background-color: #4e6d2f;
  }

  .friend-item:hover p {
    color: white;
  }
  
  .friend-profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .friend-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .friend-link p {
    margin: 0;
    font-size: inherit;
    color: #424051;
  }
  