body {
  font-family: "Archivo Narrow";
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #424051; /* General backing color */
  border-bottom: 2px solid #424051; /* Secondary color for border */
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.logo {
  font-family: 'Rock Salt', cursive;
  margin-right: 4.5rem; /* Adjust the margin to move it closer to the left */
  margin-left: 2rem;
}

.logo a {
  font-size: 1.5rem;
  color: white; /* Secondary color for text */
  text-decoration: none;
}

.navbar-container {
  display: flex;
  align-items: center;
  background-color: #567934;
  border: 1px solid #424051; /* Secondary color for border */
  border-radius: 4px;
  padding: 0 1rem;
  flex-grow: 1;
  max-width: 600px;
}


.search-bar {
  display: flex;
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Set a maximum width */
  position: relative; /* Position relative to allow absolute positioning of the dropdown */
}

.search-bar input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
  width: 100%; /* Ensure it takes the full width available */
  color: #424051; /* Secondary color for text */
  background-color: #ecdfcd; /* White background for input */
  font-family: "Archivo Narrow";
}

.search-bar button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #567934; /* Highlight color for button */
  color: white;
  cursor: pointer;
  font-family: "Archivo Narrow";
}

.search-bar button:hover {
  background-color: #455d2a; /* Slightly darker green for hover state */
}

.search-results {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  width: 40%; /* Match the width of the search bar */
  max-width: 700px;
  margin-top: 3rem;
  z-index: 1000;
  right: 0; /* Align the dropdown with the search bar */
}

.search-result {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-result:hover {
  background-color: #f0f0f0; /* Light grey on hover */
}

.search-result img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.search-result p {
  margin: 0;
  color: #424051; /* Dark grey text color */
}
