body {
  font-family: "Archivo Narrow";
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #424051;
  border-bottom: 2px solid #424051;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.logo {
  font-family: 'Rock Salt', cursive;
  margin-right: 4.5rem;
  margin-left: 2rem;
}

.logo a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.navbar-container {
  display: flex;
  align-items: center;
  background-color: #567934;
  border: 1px solid #424051;
  border-radius: 4px;
  padding: 0 1rem;
  flex-grow: 1;
  max-width: 600px;
}


.search-bar {
  display: flex;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.search-bar input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.5rem;
  width: 100%;
  color: #424051;
  background-color: #ecdfcd;
  font-family: "Archivo Narrow";
}

.search-bar button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #567934;
  color: white;
  cursor: pointer;
  font-family: "Archivo Narrow";
}

.search-bar button:hover {
  background-color: #455d2a;
}

.search-results {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  width: 40%;
  max-width: 700px;
  margin-top: 3rem;
  z-index: 1000;
  right: 0;
}

.search-result {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-result:hover {
  background-color: #f0f0f0;
}

.search-result img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.search-result p {
  margin: 0;
  color: #424051;
}
