.home-container {
    padding: 2rem;
    background-color: #DCE3E4; /* General backing color */
    border-left: 2px solid #424051;
    border-right: 2px solid #424051;
    border-bottom: 2px solid #424051;
  }
  
  .home-container h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #424051; /* Secondary color for text */
  }
  
  .log-climb-button {
    display: block;
    margin: 0 auto 2rem auto;
    padding: 0.5rem 1rem;
    background-color: #567934; /* Highlight color for button */
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
  }
  
  .log-climb-button a {
    color: white;
    text-decoration: none;
  }
  
  .log-climb-button:hover {
    background-color: #455d2a; /* Slightly darker green for hover state */
  }
  
  .feed {
    display: flex;
    justify-content: space-between;
  }
  
  .today-feed, .news {
    width: 48%;
  }
  
  .today-feed h2, .news h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #424051; /* Secondary color for text */
  }
  