.logbook-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart-container {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.chart {
  height: 300px;
}

.filter-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.filter-buttons button {
  background-color: #567934;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.filter-buttons button:hover {
  background-color: #424051;
}

.sort-dropdown {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.sort-dropdown select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #567934;
  color: white;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 500px;
  color: white;
}

.climb-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr; /* Adjusted grid layout for better alignment */
  background-color: #444;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  align-items: center; /* Align items vertically center */
  border: 1px solid #555;
  color: #ffffff;
}

.climb-item .grade {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.climb-item .details {
  display: flex;
  flex-direction: column;
}

.climb-item .details p {
  margin: 0;
  color: #ffffff;
}

.climb-item .details h2 {
  margin: 0;
  color: #ffffff;
}

.climb-item .type {
  text-align: center; /* Center the type */
  font-weight: bold; /* Bold for better visibility */
  color: #ffffff;
}

.climb-item .notes {
  text-align: left; /* Center notes as well */
}

.climb-item .notes p {
  margin: 0;
  color: #ffffff;
}

.climb-item .rating {
  text-align: right; /* Align rating to the right */
}