body {
    font-family: "Archivo Narrow";
  }

.logbook-page {
    padding: 20px;
    background-color: #978c7e; /* Background color */
    min-height: 200px; /* Adjust as needed */
}

.chart-container {
    border: 2px solid #424051; /* Dark grey border */
    padding: 20px;
    background-color: #ecdfcd;
    font-family: "Archivo Narrow";
}

.chart {
    height: 300px;
    font-family: "Archivo Narrow";
}

.chart label {
    font-family: "Archivo Narrow";
}

.filter-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.filter-buttons button {
    background-color: #567934;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Archivo Narrow";
}

.filter-buttons button:hover {
    background-color: #424051;
}

.sort-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-family: "Archivo Narrow";
}

.sort-dropdown select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #567934;
    color: white;
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    overflow-y: visible !important; /* Ensure overflow is visible */
    height: auto !important; /* Force auto height */
    max-height: none !important; /* Ensure no max-height constraints */
    color: white;
    justify-content: center;
    align-items: center;
}

.climb-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr; 
    background-color: #424051;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid #555;
    color: #ffffff;
    width: 60%;
}

.climb-item .grade {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.climb-item .details {
    display: flex;
    flex-direction: column;
}

.climb-item .details p {
    margin: 0;
    color: #ffffff;
    font-family: "Archivo Narrow";
}

.climb-item .details h2 {
    margin: 0;
    color: #ffffff;
    font-size: 1.1em;
    font-family: "Archivo Narrow";
}

.climb-item .type {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.climb-item .notes {
    text-align: left; 
    color: #ffffff !important;
    font-size: 0.9em;
}

.climb-item .rating {
    text-align: right;
}
