.logbook-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
  }
  
  .climbs-list {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #DCE3E4; /* Light background color */
    height: 50vh; /* Adjust this value to make the chart shorter */
  }
  
  .climb-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .climb-item:hover {
    background-color: #567934; /* Highlight on hover */
    color: white;
  }
  
  .climb-details {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
    background-color: #424051; /* Dark background color */
    color: white;
  }

  .logbook-controls {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .logbook-controls select {
    padding: 5px;
    border-radius: 5px;
  }
  