body {
  font-family: "Archivo Narrow";
}

.log-climb-container {
    background-color: #DCE3E4; /* General backing color */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 1000px; /* Increased max-width to make it wider */
    margin: 2rem auto;
  }
  
  .switch-links {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #567934; /* Default green */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
  }
  
  .active-button {
    background-color: #424051; /* Dark grey when active */
  }
  
  .inactive-button {
    background-color: #567934; /* Green when inactive */
  }
  
  .button:hover {
    background-color: #424051; /* Dark grey on hover */
  }
  
  .log-climb-container h1 {
    color: #424051; /* Secondary color for text */
    margin-bottom: 1rem;
  }
  
  .log-climb-container .form-group {
    margin-bottom: 1rem;
    text-align: left; /* Align labels to the left */
  }
  
  .log-climb-container label {
    display: block;
    color: #424051; /* Secondary color for text */
    margin-bottom: 0.5rem;
  }
  
  .log-climb-container input, .log-climb-container textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    color: #424051; /* Secondary color for text */
    background-color: #fff; /* White background */
  }
  
  .log-climb-container .log-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #567934; /* Highlight color */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .log-climb-container .log-button:hover {
    background-color: #455d2a; /* Slightly darker green for hover */
  }
  
  .log-climb-container .switch-link:hover {
    text-decoration: underline;
  }
  
  .log-climb-container input[type="range"] {
    width: 100%;
    margin-bottom: 1rem;
  }
  