body {
  font-family: "Archivo Narrow";
}

.navbar {
  display: flex;
  gap: 1rem;
  background-color: #567934;
}

.navbar a {
  text-decoration: none;
  color: white; /* Secondary color for text */
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #567934; /* General backing color for hover */
  border-radius: 4px;
  color: white; /* White text on hover */
}
