body {
  font-family: "Archivo Narrow";
}

.navbar {
  display: flex;
  gap: 1rem;
  background-color: #567934;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #4e6d2f;
  border-radius: 4px;
  color: white;
}
