.profile-container {
  padding: 20px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 20px;
}

.profile-info {
  border: 2px solid #424051; /* Dark grey border */
  padding: 20px;
  background-color: #DCE3E4; /* Background color */
  display: flex;
  align-items: center;
  gap: 20px; /* Space between image and text */
  position: relative;
  justify-content: flex-start;
}

.profile-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between text and buttons */
  max-width: 50%; /* Limit the width of the bio section */
}

.username {
  font-size: 2rem; /* Larger font size for the username */
  font-weight: bold;
  margin: 0; /* Remove margin */
  color: #424051; /* Dark grey color */
}

.bio {
  font-size: 18px; /* Slightly smaller font size for the bio */
  margin: 5px 0 10px 0; /* Adjust margins for spacing */
  color: #424051; /* Dark grey color */
}

.climb-counter {
  text-align: right;
  margin-top: 10px;
  position: absolute;
  top: 40px;
  right: 10px; /* Adjust this value to align with the edit profile button */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns the counter to the right */
}

.climb-number {
  font-size: 2em; /* Larger font size for the number */
  font-weight: bold;
  line-height: 1em; /* Adjust line-height to bring the text closer together */
}

.climb-text {
  font-size: 1.5rem; /* Smaller font size for the text */
  color: #666; /* Optional: change color */
}

.edit-profile-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #567934;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-profile-button:hover {
  background-color: #424051;
}

.profile-logbook {
  border: 2px solid #424051; /* Dark grey border */
  padding: 20px;
  background-color: #DCE3E4; /* Background color */
  min-height: 200px; /* Adjust as needed */
}
