body {
  font-family: "Archivo Narrow";
}

.profile-container {
  padding: 20px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 20px;
  background-color: #978c7e;
}

.profile-info {
  border: 2px solid #424051;
  padding: 20px;
  background-color: #ecdfcd;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  justify-content: flex-start;
}

.profile-info img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50%;
}

.username {
  font-size: 2rem;
  font-weight: bold;
  margin: 0; 
  color: #424051; 
}

.bio {
  font-size: 18px;
  margin: 5px 0 10px 0; 
  color: #424051; 
}

.climb-counter {
  text-align: right;
  margin-top: 10px;
  position: absolute;
  top: 40px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.climb-number {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
}

.climb-text {
  font-size: 1.5rem;
  color: #666;
}

.edit-profile-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #567934;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-profile-button:hover {
  background-color: #424051;
}

.profile-logbook {
  padding: 20px;
  background-color: #978c7e;
  min-height: 200px;
}

.profile-logbook h3 {
  text-align: center;
  font-size: 2rem;
}

.add-friend-button {
  background-color: #567934;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
}

.add-friend-button:hover {
  background-color: #424051;
}

.add-friend-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
