body {
  font-family: "Archivo Narrow";
}

.right-sidebar {
    width: 20%;
    padding: 1rem;
    background-color: #978c7e;;
    height: auto;
    overflow-y: auto;
  }
  
  .right-sidebar-content {
    padding: 1rem;
    border-radius: 4px;
    background-color: #424051;
    width: 100%;
    box-sizing: border-box;
    color: white;
  }


  .right-sidebar-content {
    padding: 20px;
  }
  
  .olympic-standings-list {
    list-style-type: none;
    padding: 0;
  }
  
  .olympic-standings-list li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  