body {
  font-family: "Archivo Narrow";
}

.sidebar {
  width: 20%;
  padding: 1rem;
  background-color: #978c7e;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.auth-section, .feed-section {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: #424051;
  width: 100%;
  box-sizing: border-box;
}

.auth-button, .user-options a, .user-options button {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #567934;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-options button {
  font-size: 1rem;
  font-family: "Archivo Narrow";
}

.auth-button:hover, .user-options a:hover, .user-options button:hover {
  background-color: #455d2a;
}

.user-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feed-section p {
  margin: 0.5rem 0;
  color: white;
  font-size: 1rem;
}

.feed-section, .climb-text {
  color: white;
}