body {
  margin: 0;
  font-family: "Archivo Narrow";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c8dab5; /* General backing color */
  color: #424051; /* Secondary color for text */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #567934; /* Highlight color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #567934; /* Highlight color for buttons */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: #455d2a; /* Slightly darker green for hover state */
}
